body {
    background-color: rgb(249, 249, 249);
    color: #212121;
}
.app-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
}

.til-markdown-container {
}
.til-markdown-container h1:first-of-type,
.til-markdown-container p:first-of-type {
    margin-top: 0;
}