.navigation-bar {
    flex-grow: 1;
    color: rgb(255, 255, 255) !important;
    background-color: #2f2f2f !important;
}
.navigation-bar h2 {
    font-weight: 900;
}

.navigation-bar__title {
    flex: 1;
}

.logo {
    width: 41px;
    margin-right: 7px;
}

canvas {
    position: fixed;
    z-index: -1;
}